body {
    background-image: url('https://drive.google.com/thumbnail?id=1aa61IjvhzJ2SNadyk5E06cvjFuGvryuR');
    background-size: 1000px;
    background-position: center center;
    overflow: hidden;
}

.main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.paper {
    padding: 20px 100px;
    border: 2px solid black;
    position: absolute;
    cursor: grab;
    background-image: url('https://drive.google.com/thumbnail?id=1TPVfStaQ-DYSFrJ2oJG7bLLz7Bx_LW5j');
    background-size: 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.paper img {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
}

.paper1 {
    border-radius: 50%;
    overflow: hidden;
}

.paperPoem {
    z-index: 11;
    max-width: 500px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Zeyada", cursive;
    font-weight: 500;
    font-size: xx-large;
}

